.App {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 1rem;
}

h1 {
	font-size: 3rem;
	font-weight: 700;
	margin: 1rem 0;
}

table {
	border-radius: var(--border-radius);
	background-color: var(--low-alpha);
	border-collapse: collapse;
	border-style: hidden;

	td,
	th {
		padding: 0.5rem 0.5rem;
		border: 2px solid var(--med-alpha);
	}

	th {
		font-size: 1.15rem;
		padding: 0.5rem;
	}

	tr {
		&:nth-child(odd) td {
			background-color: var(--med-alpha);
		}
		&:nth-child(even) td {
			background-color: var(--med-high-alpha);
		}
		&:last-child {
			td:first-child {
				border-bottom-left-radius: var(--border-radius);
			}
			td:last-child {
				border-bottom-right-radius: var(--border-radius);
			}
		}
	}

	.loading {
		text-align: center;
		font-size: 1.25rem;
	}
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	gap: 0.75rem;

	.input-group {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 0.25rem;

		label {
			font-weight: bold;
		}
	}
}

button {
	padding: 0.5rem 1rem;
	border: none;
	border-radius: var(--small-border-radius);
	background-color: var(--med-alpha);
	color: var(--text);
	font-size: 1.15rem;
	font-weight: 700;
	cursor: pointer;
	transition: all 0.2s ease;

	&:disabled {
		color: var(--high-alpha);
		cursor: default;
	}

	&:not(:disabled):hover {
		background-color: var(--high-alpha);
	}
}

input,
select,
textarea,
span[contenteditable] {
	padding: 0.5rem;
	border: none;
	border-radius: var(--small-border-radius);
	background-color: var(--med-alpha);
	color: var(--text);
	font-family: inherit;
}

.table-layout {
	display: flex;
	flex-direction: column;
	align-items: center;

	.title {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		text-align: center;
		gap: 1rem;
		width: 100%;

		a {
			text-decoration: none;
			color: inherit;
		}

		button.export {
			display: flex;
			align-items: center;
			gap: 0.5rem;

			padding: 0.5rem;
		}
	}

	textarea {
		min-width: 80px;
		max-width: 250px;
		min-height: 15px;
		height: fit-content;

		text-align: center;
	}
}

.action-cell {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;

	.delete-icon,
	.save-icon {
		width: fit-content;
		padding: 0.25rem;
		padding-bottom: 0;
		border-radius: var(--small-border-radius);
		transition: all 0.2s ease;
		cursor: pointer;
	}

	.delete-icon {
		background-color: var(--warning);

		&:disabled {
			cursor: default;
			background-color: var(--high-alpha);
			color: var(--bg);
		}

		&:not(:disabled):hover {
			background-color: var(--warning-hover);
		}
	}

	.save-icon {
		background-color: var(--success);
		color: var(--bg);

		&:disabled {
			cursor: default;
			background-color: var(--high-alpha);
		}

		&:not(:disabled):hover {
			background-color: var(--success-hover);
		}
	}
}

.width-machine {
	position: absolute;
	visibility: hidden;
	pointer-events: none;
}
