.App {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

h1 {
	font-size: 3rem;
	font-weight: 700;
}

table {
	border-radius: var(--border-radius);
	background-color: var(--low-alpha);
	border-collapse: collapse;
	border-style: hidden;

	td,
	th {
		padding: 0.25rem 0.5rem;
		border: 2px solid var(--med-alpha);
	}

	th {
		font-size: 1.15rem;
		padding: 0.5rem;
	}

	tr {
		&:nth-child(odd) td {
			background-color: var(--med-alpha);
		}
		&:nth-child(even) td {
			background-color: var(--med-high-alpha);
		}
		&:last-child {
			td:first-child {
				border-bottom-left-radius: var(--border-radius);
			}
			td:last-child {
				border-bottom-right-radius: var(--border-radius);
			}
		}
	}
}

.login {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	gap: 0.75rem;

	div {
		display: flex;
		flex-direction: column;
		gap: 0.25rem;
	}
}

button {
	padding: 0.5rem 1rem;
	border: none;
	border-radius: var(--border-radius);
	background-color: var(--med-alpha);
	color: var(--text);
	font-size: 1.15rem;
	font-weight: 700;
	cursor: pointer;
	transition: all 0.2s ease;
}

button:not(:disabled):hover {
	background-color: var(--high-alpha);
}

input, select {
	padding: 0.5rem 0.75rem;
	border: none;
	border-radius: var(--border-radius);
	background-color: var(--med-alpha);
	color: var(--text);
	font-weight: 700;
}
