@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap");

:root {
	font-family: "Lato", sans-serif;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	// Variables
	// Colors
	--text: #fff;
	--bg: #090a10;
	--light-bg: #151720;
	--gold: #e6cc92;
	--maroon: #762b37;
	--low-alpha: rgb(255 255 255 / 0.025);
	--med-alpha: rgb(255 255 255 / 0.05);
	--med-high-alpha: rgb(255 255 255 / 0.075);
	--high-alpha: rgb(255 255 255 / 0.1);
	--warning: red;
	--warning-hover: rgb(164, 0, 0);
	--success: lime;
	--success-hover: rgb(20, 161, 20);

	// Other
	// For use on longer elements like tables and modals
	--border-radius: 0.5rem;
	// For use on smaller elements like buttons and inputs
	--small-border-radius: 0.25rem;
}

body {
	background-color: var(--bg);
	color: var(--text);
	margin: 0;
}
