nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: var(--med-alpha);
	padding: 0.75rem;
	gap: 1.5rem;

	img {
		width: 2rem;
		height: 2rem;
	}

	a {
		text-decoration: none;
		color: var(--text);
		font-size: 1.1rem;
	}

	.active {
		color: var(--gold);
	}
}
