@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap");

:root {
	font-family: "Lato", sans-serif;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	// Variables
	// Colors
	--text: #fff;
	--bg: #16161a;
	--gold: #e6cc92;
	--maroon: #74343f;
	--low-alpha: rgb(255 255 255 / 0.05);
	--med-alpha: rgb(255 255 255 / 0.1);
	--high-alpha: rgb(255 255 255 / 0.2);

	// Other
	--border-radius: 0.5rem;
	--inner-border-radius: calc(var(--border-radius) - 1px);
}

body {
	background-color: var(--bg);
	color: var(--text);
}
