@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap");

:root {
	font-family: "Lato", sans-serif;

	--text: #fff;
	--bg: rgb(22, 22, 26);
	--low-alpha: rgba(255, 255, 255, 0.05);
	--gold: #e6cc92;
	--maroon: #74343f;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

body {
	background-color: var(--bg);
	color: var(--text);
}
